*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/build.gradle
*.gradle
app/build.gradle
app/build.gradle
*.apk
app/app-release.apk
app/app-release.apk
